In [1]:
%reload_ext autoreload
%autoreload 2

In [2]:
import os
import re
import sys
from pathlib import Path

import fasttext as ft
import nltk
import numpy as np
import pandas as pd
from tqdm import tqdm

In [3]:
PROJ = Path(os.path.realpath("."))
ROOT = PROJ.parent
DATA = ROOT / "data"

In [4]:
sys.path.append(str(ROOT / "src"))

In [11]:
from get_closest_match import prepare_data_and_embeddings, process_data_and_match

# Read data

In [6]:
# Classification A
clas_a_df = pd.read_csv(DATA / "processed/clas_a.csv")
clas_a_df = clas_a_df.drop(columns="clas_a_code")
clas_a_df.head()

                   clas_a_title
0     Business Support Services
1                       Fishing
2        Agriculture Employment
3             Animal production
4  Support activities of Mining

In [7]:
# Classification B
sheets = ["HS2", "HS4", "NAICS2", "NAICS4"]

clas_b_df = pd.DataFrame()
for sheet in sheets:
    clas_b_df_sheet = pd.read_excel(
        DATA / "raw/codes.xlsx", sheet_name=sheet, dtype=str
    )
    clas_b_df_sheet.columns = ["clas_b_code", "clas_b_title"]
    clas_b_df_sheet["clas_b_type"] = sheet
    clas_b_df = clas_b_df.append(clas_b_df_sheet)
clas_b_df["clas_b_code"] = clas_b_df["clas_b_type"] + "_" + clas_b_df["clas_b_code"]
clas_b_df.head()

  clas_b_code     clas_b_title clas_b_type
0       HS2_1     Live animals         HS2
1       HS2_2             Meat         HS2
2       HS2_3             Fish         HS2
3       HS2_4   Diary products         HS2
4       HS2_5  Animal products         HS2

# Test

In [13]:
result_codes, result_names = process_data_and_match(
    clas_a_df,
    clas_b_df,
    titlecol_a="clas_a_title",
    titlecol_b="clas_b_title",
    codecol_b="clas_b_code",
    n_best = 5
)

Pre-processing text

100%|██████████| 186/186 [00:00<00:00, 31856.77it/s]
100%|██████████| 186/186 [00:00<00:00, 14256.43it/s]
100%|██████████| 1678/1678 [00:00<00:00, 50173.89it/s]
100%|██████████| 1678/1678 [00:00<00:00, 16261.84it/s]

Preparing embeddings